<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <title>Add a show</title>
</head>
<body class="container">
    <h1>Add A new Show</h1>
    <form action="/createshow" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="network" class="form-label">network</label>
            <input type="text" name="network" class="form-control">
        </div>
        <div class="mb-3">
            <label for="releaseDate" class="form-label">Release Date</label>
            <input type="date" name="releasedate" class="form-control">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea name="desc" id="desc" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-warning">Create</button>
    </form>
    <a href="{% url 'show' %}" class="btn btn-success">Go Back</a>
</body>
</html>