<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <title>view Show {{show.id}}</title>
</head>
<body class="container">
    <div class="card">
        <div class="card-body">
            <h1>TV show {{show.id}}</h1>
            <h3 class="card-title">title:{{show.title}}</h3>
            <h3>Network:{{show.network}}</h3>
            <h3>Release Date:{{show.releaseDate}}</h3>
            <h3>Description:{{show.desc}} </h3>
            <h3>Last updated:{{show.updated_at}}</h3>
        </div>

    </div>
    <div>
        <a href="{% url 'render_editshow' show.id %}" class="btn btn-info">edit</a>
        <a href="{% url 'deleteshow' show.id %}" class="btn btn-danger">delete</a>
    </div>
    <div>
        <a href="{% url 'show' %}" class="btn btn-success">
            go back to shows
        </a>
</div>
</body>
</html>